<div id="leftSidebar" class="flexChild">
	<section id="search">
		<form>
			<input type="search" id="searchBox" placeholder="Search your fragments">
		</form>
		<section id="searchResults">
		</section>
	</section>
	<section id="recentFragments">
	</section>
</div>
