<div id="leftSidebar" class="flexChild">
	<section id="search">
		<form>
			<input type="search" id="searchBox" placeholder="Search your fragments">
		</form>
		<section id="searchResults">
			<dl class="thing">
				<dt>Name</dt>
				<dd>The content</dd>
			</dl>
		</section>
	</section>
</div>
