<!doctype html>
<html>
<head>
	<title>Enchiridion</title>
	<meta charset="utf8">
	<link rel="stylesheet" href="dist/layout.css">
	<link rel="stylesheet" href="dist/aesthetics.css">

	<script src="dist/js.js"> </script>
</head>

<body>
	<% include components/leftSidebar.ejs %>
	<% include components/editor.ejs %>
</body>
</html>
