/* Use this file to change the appearance of elements.
*/
#menuPanel {
	background-color: red;
}

article {
	background-color: #1cabc2;
}

#addNewFragment {
	color: green;
	font-size: 5em;
}

blockquote {
	font-style: italic;
	padding-left: 15px;
	border-left: 3px solid #ccc;
}
:focus {
	font-weight: bold;
	background-color: #0df;
}

.parallel {
	border: 0.5em solid #000;
	background-color: rgba(255, 0, 51, 0.6);
}

.contentChanged {
	background-color: #bada55;
}

.fragment{
	border: 2px solid #ccc;
	margin: 1em
}

.fragmentEntry {
	background-color: rgba(255, 0, 51, 0.6);
	margin: 0.5em
}

.fragmentTitle {
	font-size: 1.5em;
}
