/* Use this file to change the appearance of elements.
*/
#menuPanel {
	background-color: red;
}

article {
	background-color: #0df;
}

#addNewFragment {
	color: green;
	font-size: 5em;
}

blockquote {
	font-style: italic;
}
