/* Use this file to position elements.
*/
*{
	margin: 0;
	padding: 0;
}

main, #main, .parallel {
	display: -webkit-flex;
	display: flex;
}

.flexChild, article {
	-webkit-flex: 1;
	flex: 1;
}

#main{
	-webkit-flex: 3;
	flex: 3;
}
