/* Use this file to position elements.
*/
*{
	margin: 0;
	padding: 0;
}

main, #main, .parallel {
	display: -webkit-flex;
	display: flex;
}

.flexChild, article {
	-webkit-flex: 1;
	flex: 1;
}

#main{
	-webkit-flex: 3;
	flex: 3;
}

.overlayBackground {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0, 0, 0, 0.85);
	z-index:9999;
	color:white;
	display: none;
}

.visible {
	display: block;
}

.overlayContent {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    position:relative;
    font-weight:bold;
}
